div {
    background-color: grey ;
  }
  p {
    color: red
  }
  img {
    border: solid 4px black;
  }
  .contenu-mixte {
    text-align: center;
    font-family: Arial;
    font-size: 18px;
  }
  #section-1 {
    color: blue
  }
  #section-2 {
    color: orange
  }
  #section-3 {
    color: purple
  }
  .contenu-mixte p {
    text-align: right;
  }
  #section-3 p {
    text-align: justify;
    color: black;
    background-color: white;
  }
