
kbody {
    font-family: Arial;
    margin: 0;
}
nav {
    height: 70px;
    display: flex;

}
.secondary-black {
    color: rgb(4, 117, 186);
    background-color: rgb(4, 117, 186);
}

nav h2 {
    margin: 0;
    padding:20px 0 20px 15px ;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 24px;
    list-style: none;
}

nav li {
    margin-left: 15px;
}
header {
    text-align: center;
    margin:40px ;
}
.content {
    max-width: 800px;
    margin-top: 0 auto;
}
hheader h2 {
    color: blue;
    
}