
div {
    background-color: grey;

}
p {
    color: red;
}
img {
    border: 4px solid black;
}

.contenu-texte {
    color: blue;
}
#section1 {
        color: purple;
}
.contenu-texte {
    text-align: center;
    font-family: Arial;
    font-size: 18px;

 }
 #section1 {
    color: blue;
}
 #section2 {
     color: blue;
}
#section3 {
    color: blue;
 }