body {
  font-family: Arial;
  margin: 0;
}

nav {
  display: flex;
  height: 70px;
}

.secondary-block {
color: white;
background: linear-gradient(to right,black,rgb(4, 0, 255))

}

a {
color:white
}

nav h2 {
margin:0;
padding:20,0,20,15;
}

nav ul {
display:flex;
padding:24px;
margin:0;
list-style: none;
}

nav li {
margin-left: 15px;
}

header {
text-align: center;
padding: 40px;
}

.content {
  max-width: 600px;
  margin:0 auto;
}

header h2 {
  color:rgb(4, 117, 186);
}

header img {
  width: 150px;
  border-radius: 75px;
  box-shadow: 3px 3px 6px rgb(170, 170, 170);
}

section {
  padding: 40px;

}

#xp ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#xp li {
  margin-bottom: 10px;
}

#xp aside {
  float: right;
}

#education ul {
  padding: 0;
  margin: 0;
  list-style: none;
  }

  #education li {
    margin-bottom: 10px;
  }

#education aside {
  float: right;
}

footer {padding: 40px;

}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.links {
  margin-bottom: 25px;
  width: 390px;
  display: inline-block;
}
h5 {
  font-style: italic;
}
.couleur {
  color: lightseagreen;
}


