/* Exercice 1 */ 

/* .grey{ 
    background: grey ;
    text-align: center ;
}

p{
    color: red ;
}
.grey .contenu-mixte{
    text-align: end ;
}
#partie1{
    color: #2C2CFF ;
}
#partie2{
    color: #FFAB11 ;
}
#partie3{
    color: #800080 ;
}
.contenu-mixte p{
    text-align: justify;
    color: #000 ;
    background: #fff ;
    font-size: 20px;
} */

/* Session 4 */
body{
    margin: 0;
    background: red;
}
.ville{
    padding: 30px;
    background: #0575BA;
}
.ville h1 {
    text-align: center;
}
.ville img {
    margin: 25px;
    border-radius: 20px;
    height: 250px;
}
.monta {
    padding: 30px;
}
.monta h1 {
    text-align: center;
}
.monta img {
    margin: 25px;
    border-radius: 20px;
    height: 250px; 
}
.espace {
    padding: 30px;
    background: #0575BA;
}
.espace h1 {
    text-align: center;
}
.espace img {
    margin: 25px;
    border-radius: 20px;
    height: 250px;   
}