body
    {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
    }

nav
    {
        display: flex;
        height: 70px;
    }

.secondary-block
    {
        color: rgb(255,255,255);
        background-color: rgb(4, 117, 186);
    }

a
    {
        color: rgb(255,255,255);
    }

nav h2
{
    margin: 0px;
    padding: 20px 0px 20px 15px;
}

nav ul
    {
        display: flex;
        margin: 0px;
        padding: 24px;
        list-style: none;
    }

nav li
    {
        margin-left: 15px;
    }

header
{
    text-align: center;
    padding: 40px;
}

.content
    {
        max-width: 800px;
        margin: 0 auto;
    }

header h2
    {
        color: rgb(4, 117, 186);
    }

header img
    {
        width: 150px;
        border-radius: 75px;
        box-shadow: rgb(170, 170, 170) 3px 3px 6px ;
    }

section
    {
        padding: 40x;
    }

#xp ul
    {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

#xp li
    {
        margin-bottom: 10px;
    }

#xp aside
    {
    float: right;
    }

#education li
    {
        margin-bottom: 10px;
    }

#education aside
    {
    float: right;
    }

footer
    {
        padding: 40px;
    }
footer ul
    {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
.link
    {
        margin-bottom: 25px;
        width: 390px
        display:flex
    }
