div {
    background-color: grey;
}

#section-2 div {
    background-color: rgb(41, 189, 90);
}

p {
    color: red;
}

img {
    border: 14px solid black;
    margin: 60px;
    padding: 60px;
    background-color: white;
}

.contenu-mixte {
    text-align: center;
}

.contenu-texte {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#section-1 {
    color: rgb(224, 158, 213);
}

#section-1 p {
    color: rgb(222, 236, 25);
}


#section-2 {
    color: orange;
}

#section-3 {
    color: purple;
}

.contenu-mixte p {
    text-align: center;
}

#section-3 p {
    text-align: justify;
    color: black;
    background-color: white;
}