p { 
    color:red ;
}

h1 { 
    color: blue; 
    font-family: sans-serif;
    text-decoration: underline;
}



/* exercice 3 
*/

.contenu-mixte {
      text-align: center;
}


.contenu-texte {
    font-family: Arial;
    font-size: 18px; 
} 
    



/* exercice 4 
*/

#section-1 {
     color: blue;
}