/*general style*/
body{
    font-family:arial;
    margin:0;

}

section {
    padding: 40px;
  }
  .content {
    max-width: 800px;
    margin: 0 auto;
  }

/*navigation*/
nav
{
    height:70px;
    display:flex;
}
.secondary-block
{
    color:white;
    background-color:rgb(4, 117, 186);
}
a
{
    color:white;
}

nav h2
{
    margin:0;
    padding:20px 0 20px 15px;
}

nav ul
{
    display:flex;
    margin:0;
    padding:24px;
    list-style:none;
}

nav li
{
    margin-left:15px;
}

header {
    text-align: center;
    padding: 40px;
  }
  
  
  
  header h2 {
    color: rgb(4, 117, 186);
  }
  
  header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
  }

/*experience section*/
  #xp ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #xp li {
    margin-bottom: 10px;
  }
  
  #xp aside {

    float: right;
  }

  /*education*/
  #education ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #education li {
    margin-bottom: 10px;
  }
  
  #education aside {
    float: right;
  }

  /*footer*/
  footer {
    padding: 40px;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links {
    margin-bottom: 25px;
    display: inline-block;
    width: 390px;
  }