/* mon fichier style */

/* les selecteurs ELEMENT */

a {
  color: #FFF;
}


div {
  background-color: grey;
}

img {
  border: 1px black solid
}


/* les selecteurs CLASSE */
.contenu {
  background-color: black;
  color: white;
}

.centre {
  text-align: center
}

/* les selecteurs ID */
#montagne h1 {
  font-size: 20px;
}

#montagne p {
  color: white;
  text-align: left;
  font-size: 15px
}
