/*CSS MOMImar*/
body {
    
    font-family: Arial;
    margin:0px;
}
 
nav {

    display: flex 70px;
}
 
.secondary-block {

    color: white;
    background-color: rgb(4, 117, 186);
}
 
a {

    color: white;
}
 
nav h2 {

    margin: 0;
    padding: 20 0 20 15;
}
 
nav ul {

    display: flex;
    margin: 0;
    padding: 24px;
    list-style: none;
}
 
nav li {

    margin-left: 15px;
} 

header {

    text-align: center;
    margin: 40px;
}

.content {

    max-width: 800px;
    margin: 0 auto;
}

header h2 {

    color: rgb(4, 117, 186)
    
}

header img {

    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(4,117,186);
    margin-top: 20px;

}

#xp ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

#xp li {

    margin-bottom: 10px;
}

#xp aside {

    float: right;

}

.formation {
    
    color: white;
    background-color: rgb(4, 117, 186);
    padding: 0 30% 0 30%;
    width: 800px;
    
    
} 

footer {
    
    padding: 40px;
}

footer ul {

    padding: 0;
    margin: 0;
    list-style: none;

}

.links {

    margin-bottom: 25px;
    width: 390px;
    display: inline-block;
}

#formation aside {
    float: right;
}
