body {
  font-family: Arial;
  margin: 0;
}
nav { 
    display: flex;
    height: 70;
}
.secondary-block {
color:rgb(4, 117, 186);
}

a {
 color: white;
}

nav h2 {
    margin: 0px;
    padding: 20px,0,20px,15;   
}

nav ul {
display: flex;
margin: 0px;
padding: 20px;
list-style: none;
}
nav li {
    padding-left: 15px;
}