div {
    background-color: grey;
}

.contenu-mixte p {
    color: red;
}

img {
    border: 6px black solid;
}


#section-1 {
    color:blue;
}

#section-2 {
    color: orange;
}

#section-3 {
    color: purple;
}

.contenu-mixte p {
    text-align:right;
}
