body{
font-family: arial;
margin: 0px;
}

nav {
    display: flex;
    height: 70px;
  }

nav h2 {
    padding: 20px 0 20px 15px;
    margin: 0px;
  }

nav ul {
    display: flex;
    margin: 0px;
    list-style: none;
    padding: 24px;
  }

nav li {
    margin-left: 15px;
  }

  a {
    color: rgb(255, 255, 255);
  }

  .secondary-block {
    color: rgb(255, 255, 255);
        background-color: rgb(94, 2, 2);
  }

  header{
      text-align: center;
      margin: 40px;
  }
  .content{
      max-width: 800px;
      margin: 0px auto;
    }
    header h2{
        color: rgb(4, 117, 186);
    }

    header img{
      width:150px;
      border-radius:75px;
      box-shadow: 3px 3px 6px rgb(7, 7, 7);
    }

    section{
      padding: 40px;
    }


    #xp li {
      margin-bottom: 10px;
    }

    #xp ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #xp aside {
      float: right;
    }

    #formation ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #formation aside {
      float: right;
    }

    #formation li {
      margin-bottom: 10px;
    }

    footer{
      padding: 40px;
    }

    footer ul{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }

    .links{
      margin-bottom: 25px;
      width: 390px;
      display: inline-block;
    }