body {
    font-family: Arial;
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
}

.secondary-block {
    color: white;
    background-color: rgba(12, 12, 11, 0.993);
}

a {
    color: white;
}

nav h2 {
    margin: 0;
    padding: 20px 0 20px 15px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 24px;
    list-style: none;
}

nav li {
    margin-left: 15px;
}

header {
    text-align: center;
    padding: 40px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

header h2 {
    color:rgb(4, 117, 186)
}

header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);
}

section {
    padding: 40px;
}

#xp ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#xp li {
    margin-bottom: 10px;
}

#xp aside {
    float: right;
}

#education ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#education li {
    margin-bottom: 10px;
}

#education aside {
    float: right;
}

footer {
    padding: 40px;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.links {
    margin-bottom: 25px;
    width: 45%;
    display: inline-block;
}
