body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
nav {
height: 50px;
display: flex;
}
.secondary-block {
    color: black;
    background : lightblue;
    }
a {
    color: white;
}
nav ul a {
    color:rgb(4, 117, 186);
}
nav li{
    margin-left: 80px;
}
header {
    padding: 20px;
}
.content {
    max-width: 800px;
    margin: 0px;
}
header h1, h2{
    font-size: 15px;
    color: black;
    margin-left: 280px;
}
img {
    width: 100px;
    border-radius: 40px;
    box-shadow: 3px 3px 6px rgb(140,140,140);
}
section {
    padding: 40px
}

#xp ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#xp li {
    margin-bottom: 10px;
}
#xp aside {
    float: right;
}
#education ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#education li {
    margin-bottom: 10px;
}
#education aside {
    float: right;
}
footer {
    padding: 40px;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.links {
    margin-bottom: 25px;
    display: inline-block;
    width: 390px;
}
.box {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
h3, h4 {
    text-decoration: underline;
    font-size: 15px;
}
.pic {
    float: left;
}
.italique{
    font-style: italic;
}
.logo{
    width: 55px;
}

.diplôme {
    float:left;
    width: 150px;
    padding-right: 10px;
}

.box aside{
float: right;
}