body {
    font-family: Arial;
    margin: 0px;
}

nav { 
    display : flex;
    height: 70px;
} 

.secondary-block {
    color : white;
    background-color :  rgb(4, 117, 186);
}

.a {
    color : white;
}

nav h2 {
    margin : 0;
    padding : 20px , 0px , 20px , 15px;
}

nav ul {
        display : flex;
        margin : 0;
        padding : 24px;
        list-style : none;
}

nav li {
        margin-left : 15px;
}

img {
    border-radius: 100% 100% / 100% 100%;
    transform: rotate(0deg);
}

header {
        text-align : center;
        padding : 40px;
}

content {
        max-width: 800px;
        margin : 0px;
}

header h2 {
        color: rgb(4, 117, 186);
}

header img {
        width: 150px ;
        border-radius : 75px ;
        box-shadow : 3px , 3px , 6px;
        color : rgb(170, 170, 170);
}

section {
    padding : 40px;
}